body {
	background: linear-gradient(90deg, #d8aa03, #64ff64);		
}
.container2{
    width: 70%;
    height: 700px;
    margin-left: 15%;
    background-color: white;
    
    border: 3px solid rgb(87, 87, 87);
    border-radius: 50px;    

    text-align: center;
}